---
import Layout from '../layouts/Layout.astro';
---
<Layout title="About">
  <div class="container">
    <h1>About</h1>
    <p>This site blends NASA manual discipline with CRT swagger.</p>
  </div>
</Layout>
