<nav class="hairline-bottom">
  <div class="container">
    <a href="/" class="brand">JWIEDEMAN</a>
    <ul>
      <li><a href="/work">Work</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/experiments">Experiments</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    <button class="mode mono" data-theme-toggle>MODE: NASA</button>
  </div>
</nav>
