<nav class="primary-nav hairline-bottom">
  <div class="container">
    <a href="/" class="brand" data-astro-prefetch>JWIEDEMAN</a>
    <ul>
      <li><a href="/work" data-astro-prefetch>Work</a></li>
      <li><a href="/blog" data-astro-prefetch>Blog</a></li>
      <li><a href="/lab" data-astro-prefetch>Lab</a></li>
      <li><a href="/about" data-astro-prefetch>About</a></li>
    </ul>
  </div>
</nav>
